<header>
  <h1>Users</h1>
</header>

<article>
  <table class="users">
    <thead>
      <tr>
        <th>Email</th>
        <th>Admin</th>
        <th>Inspections</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, edit_user_path(user) %></td>
          <td><%= user.admin? ? "Yes" : "No" %></td>
          <td><%= user.inspections.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
