<% if current_user %>
  <ul>
    <li>
      Logged in:
      <strong><%= current_user.email %></strong>
    </li>
    <li>
      Usage: <strong><%= current_user.inspections.count %> / <%= current_user.inspection_limit %></strong> inspections
    </li>
  </ul>
<% end %>
