<section>
  <%= render 'search_form' %>
</section>

<article>
  <% if @inspections.any? %>
    <%= render 'inspections_table', inspections: @inspections %>
    <p>
      <%= link_to inspections_path(format: :csv) do %>
        <strong>Export CSV</strong>
      <% end %>
    </p>
    <%= render 'inspection_stats' %>
  <% else %>
    <p>No inspection records found.</p>
  <% end %>
</article>
